/* reset code common code starts here */
:root{
    --primary-color:rgb(11, 181,.48);
    --secondary-color:rgb(36, 122,.55,0.9);
    --padding: 0.5rem;
    --transition:all 0.3s;
    --border-radius: 0.6rem;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5)


}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    border: none;
    padding: var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
  }
  .btn:hover {
    background-color: var(--secondary-color);
  }

  .section-title{
    font-size: 2rem;
  }

  .card{
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--padding);
  transition: var(--transition);
  }
  .card:hover{
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,2002,1) ;
  }

  .dot{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
  }
  .red{
    background-color: red;
  }

  .black{
    background-color:black;
  }
  .yellow{
    background-color: yellow;
  }
  .hr-desgin{
    margin: 0.5rem;
  }
  .text-center{
   text-align: center;
  }
/* reset code common code end here */


/* navbar start here */
nav{
    font-family: Monospace;
    font-size: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

}

.nav-upper{
    min-height: 7vh;
    background-color: var(--primary-color);
    padding: var(--padding);

}

.nav_list{
    transition: var(--transition);
}
.nav_list:hover{
   
   text-decoration: overline;
}

.nav_link{
    color: white;
    transition: var(--transition);
}
.nav_link:hover{
    color: black;
   
}

.profile-icon{
   width: 3rem;
   height: 2.2rem;
   border-radius: 50%;
    border: white 1px solid;
    filter: saturate(0);
}
.profile-icon:hover{
    filter: saturate(1);
}

.nav-lower{
    min-height: 8vh;
    background-color: var(--secondary-color);
    font-weight: bolder;
}

.nav_brand{
    font-size: 2rem;
}

#menu-icon{
    display: none;
}
/* navbar end here */

/* header starts here */
.header{
    padding: 4rem 0;
    height: 80vh;
    background: url(images/banner.jpg) no-repeat center;

    background-attachment: fixed;
    background-size: cover;

}

.banner{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.banner_title{
    font-size: 4rem;
    color: yellow;
    padding: 1rem;
    border-radius: var(--border-radius);
}


.features{
 width: 100%;
}
.feature{
    background-color: rgb(80,160,78,0.7);
    color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 15rem;
   gap: 1rem;
   flex-direction: column;
}

.feature_icon{
    font-size: 3rem;
}
/* header end here */

/* main section start here */

main{
    padding: 4rem 0;
    min-height: 80vh;
}
.main-content{
    flex: 3;
    padding: var(--padding);
  }

.sidebar{
  flex: 1;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content:center ;
  gap: 1rem;
  align-self: flex-start;
}



.actions_sort select{
    padding: var(--padding);

}
.actions_search input{
    padding: var(--padding);
    width: 15rem;
}
.actions_search button{
    margin-left: -0.3rem ;
    border: 1px solid;
    padding: 0.55rem;

}

.products{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.product__image{
  
    width: 100%;
    height: 15rem;
    filter: saturate(0);
    transition: var(--transition);
}

.product__image:hover{
 filter: saturate(1);
}

.product_body{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.learn-more{
    color: blue;
}

.product{
    position: relative;
}
.badge{
background-color: green;
position: absolute;
top: 0;
left: 0;
z-index: 10;
color: white;
padding: 4px 8px;
text-align: center;
border-radius: 5px;
}

.pagnitation{
 display: flex;
 justify-content: center;
 align-items: center;
}

.pagnitation_btn{
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}

.pagnitation_btn:first-child{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}

/* cart starts here */
.cart{
    padding: var(--padding);
    gap: 1rem;

}

.cart .card{
    margin-bottom: 1rem;
}

.cart_items{
    flex: 1;
}



.cart_items-action{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_item input{
    flex: 0.1;
}

.card_item-img
{
    flex: 0.2;
    width: 15rem;
    height: 10rem;
}
.cart_item-description{
    flex: 0.4;

}
.card_item-shipping{
    margin-top:0.5rem ;
    color: red;
}
.card_item-actions{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart_payment{
 flex: 1;
}

.cart_payment-summary > div{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 1rem 0;
}

.cart_payment-btn{
    width: 100%;
}

.cart_payment-method > h2{
text-align: center;
margin-bottom: 1rem;
}

.cart_payment-method > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    }

    .fa-brands{
        color: black;
    }

/* cart end here */


/* product details start here */
.product-details_left{
flex: 1;
}
 .product-details__img{
height:20rem ;
width: 30rem;
 }

.product-details_right{
 flex: 1;
 display: flex;
 flex-direction: column;
 gap: 0.6rem;
}
/* product details end here */

/* profile section start here */
.profile{
    background-color: black;
    flex-direction: column;
    gap: 3rem;
    height:80vh;
}

.profile_description {
    flex-direction: column;
    width: 30rem;
    padding: var(--padding);
    gap: 1rem;
}

.details{
    color: wheat;
}
.details{
    color: wheat;
}
.profile_img{
    width: 15vh;
    border-radius: 50%;
    border: 1px solid;
}

.profile_btn{
    background-color: transparent;
}
/* profile section end here */

/* register section start here */

.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-control label{
    flex: 0.1;
}

.form-control input,textarea{
    flex: 0.9;
    padding: var(--padding);
    border: 1px solid;
}

.form-control textarea{
    resize: none;
    height: 12vh;
}

.form-control button{
    border-radius: var(--border-radius);
    width: 30%;
}

.User_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 60px;
}

.register{
    width: 45rem;  
}
/* register section end here */

/* main section end here */

/* footer secction starts here */
.footer {
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color: white;
    font-size: 1.1rem;
  }
  .btn-subscribe {
    margin-left: -5px;
  }
  .footer_input {
    border: none;
    padding: var(--padding);
    width: 20rem;
  }
/* footer secction end here */

/* responsive starts here */
@media (max-width: 992px){
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }

    .hidden{
        display: none;
    }
    .flex-space-around, .flex-center{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;   
    }
    .header{
        height: 100vh;
    }

    .products{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cart_items,.cart_payment{
        width: 90%;
    }
}

@media (max-width: 768px){

    .flex-center {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
      }

    .products{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
/* responsive end here */